BasicProject/GoogleService-Info.plist
BasicProject.xcodeproj/project.xcworkspace/xcuserdata/linasvenclavicius.xcuserdatad/UserInterfaceState.xcuserstate
BasicProject.xcodeproj/project.xcworkspace/xcuserdata/linasvenclavicius.xcuserdatad/IDEFindNavigatorScopes.plist
BasicProject.xcodeproj/xcuserdata/linasvenclavicius.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist